* {
  font-family: "montserrat", sans-serif;
}

.menu {
  background: linear-gradient(to right, #b33c52cb, hsl(349, 74%, 59%));
}

.buscar {
  background: linear-gradient(to right, #f4d33a, hsl(49, 89%, 59%));
}

.burger {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%30' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 1px solid black;
}

.insumos {
  color: white;
}

@media (max-width: 768px) {
  .navbar2 {
    columns: 1;
    visibility: hidden;
    display: none;
    justify-content: center;
  }

  .slogan {
    text-align: right;
  }

  .principal {
    columns: 1;
    text-align: center;
    background: white;
    justify-content: center;
    padding-right: 5rem;
  }

  .carousel {
    justify-content: center;
  }

  .miPosition {
    height: 80%;
  }

  .subtitle {
    font-size: small;
  }
  .bienvenido {
    background-color: white;
  }
  .bienvenido2 {
    background-color: #7c878d2f;
    text-align: center;
    justify-content: center;
  }

  .contacto,
  .navbar-nav .ubicacion,
  .escribenos,
  .navinicial {
    display: none;
  }
}

@media (min-width: 768px) {
  .aceites,
  .filtros,
  .repuestos,
  .neumaticos,
  .fluidos,
  .donde_encontrarnos {
    visibility: hidden;
    display: none;
  }
  .principal1 {
    columns: 1;
    text-align: center;
  }
  .carousel {
    justify-content: center;
  }

  .bienvenido {
    background-color: #7c878d2f;
    text-align: center;
    justify-content: center;
  }

  .miPosition {
    height: 50%;
  }

  .izq {
    display: none;
  }
}

.grey {
  background-color: #7c878d2f;
}

.greygradiant {
  background: linear-gradient(to bottom, #f7f7f7, #7c878d);
}

/* FOOTER */
.oleaje {
  opacity: 1;
  background: white;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

footer {
  background: rgb(244, 211, 58);
  padding: 0;
  width: 200vw;
  max-width: 102%;
  justify-content: center;
}

.footer__title {
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.footer__nav {
  justify-content: center;
  list-style: none;
  overflow: hidden;
  display: inline-flex;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.footer__nav .footer__link {
  text-align: center;
  justify-content: center;
  min-width: 20%;
  width: 20%;
  height: 75%;
  overflow: hidden;
}

/* ESTILOS PRODUCTOS GRID */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
}

article img {
  order: -1;
  align-self: center;
}

article button {
  margin-top: auto;
  background: black;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.header2,
.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}
header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}
header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}
header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}
header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}
header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}
header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}
